rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    match /ball-target-rooms/{roomId} {
      allow read, write: if signedIn();
    }

    match /ball-target-users/{userId} {
      allow read: if signedIn();
      allow create, update, delete: if signedIn() && request.auth.uid == userId;
    }

    match /ball-target-challenges/{userId} {
      allow read: if signedIn() && request.auth.uid == userId;
      allow create, update: if signedIn();
      allow delete: if signedIn() && request.auth.uid == userId;
    }
  }
}
